{
 "openapi": "3.1.0",
 "info": {
  "title": "tashan",
  "summary": "Measurements of the tools and skills you can give an AI agent.",
  "description": "Ask anything about a capability and the answer is free: 12,662 MCP servers, agent skills and plugins, scored on upkeep, freshness and real adoption, and audited against OSV at the version you would install today.\n\n**Asking is free. Assembling is paid.** Every score and every risk finding is free with no key and no quota. The two endpoints that do work for you — pinning a kit to versions the scan cleared, and returning the history behind a row — answer HTTP 402 with their terms in the body, payable per call over x402 on Base.\n\n**Not a security audit.** We read public evidence. We do not run the server, read its source, or test it for prompt injection. A clean result means nothing *known* is wrong, and a capability we have never measured is reported as unmeasured — never as safe.\n\n**Nobody can buy a rank.** Enforced by a test that reads the scorer's source: https://tashan.sh/methodology.html",
  "version": "0.1.0",
  "license": {
   "name": "CC BY 4.0",
   "url": "https://creativecommons.org/licenses/by/4.0/"
  },
  "contact": {
   "name": "tashan",
   "url": "https://tashan.sh",
   "email": "hello@tashan.sh"
  }
 },
 "servers": [
  {
   "url": "https://tashan.sh"
  }
 ],
 "paths": {
  "/v0.1/lookup": {
   "get": {
    "operationId": "lookupCapability",
    "summary": "Everything we hold about one capability, by name",
    "description": "The cheapest complete answer: score, health, documentation grade, and every security finding — which advisory, its severity, the version that fixes it, and the exact command the package runs at install time. Free.\n\nA name we have never seen returns `measured: false`. That means unmeasured, not unsafe — do not present absence as a warning.",
    "parameters": [
     {
      "name": "name",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "tavily-mcp",
      "description": "npm package, capability name or slug"
     }
    ],
    "responses": {
     "200": {
      "description": "The measurement, or measured:false",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string",
           "example": "pkg:tavily-mcp"
          },
          "name": {
           "type": "string"
          },
          "label": {
           "type": "string"
          },
          "tashan_score": {
           "type": "integer",
           "minimum": 0,
           "maximum": 100,
           "description": "Absent when unmeasured. Never 0 to mean unknown."
          },
          "vitality": {
           "type": "string",
           "enum": [
            "active",
            "stable",
            "abandoned"
           ]
          },
          "expertise": {
           "type": "string",
           "enum": [
            "deep",
            "solid",
            "thin"
           ]
          },
          "evidence": {
           "type": "string",
           "example": "32,517 npm downloads/week"
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/v0.1/search": {
   "get": {
    "operationId": "searchCapabilities",
    "summary": "Ranked search across the measured corpus",
    "parameters": [
     {
      "name": "q",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "postgres"
     },
     {
      "name": "limit",
      "in": "query",
      "schema": {
       "type": "integer",
       "default": 10
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Ranked matches",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "results": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "pkg:tavily-mcp"
             },
             "name": {
              "type": "string"
             },
             "label": {
              "type": "string"
             },
             "tashan_score": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "Absent when unmeasured. Never 0 to mean unknown."
             },
             "vitality": {
              "type": "string",
              "enum": [
               "active",
               "stable",
               "abandoned"
              ]
             },
             "expertise": {
              "type": "string",
              "enum": [
               "deep",
               "solid",
               "thin"
              ]
             },
             "evidence": {
              "type": "string",
              "example": "32,517 npm downloads/week"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/v0.1/scores": {
   "get": {
    "operationId": "allScores",
    "summary": "Every score in one file",
    "description": "A flat map of name to [score, vitality, evidence]. Fetch once and decide locally instead of asking per package.",
    "responses": {
     "200": {
      "description": "name -> [score, vitality, evidence]",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/v0.1/servers": {
   "get": {
    "operationId": "subregistry",
    "summary": "The MCP registry shape, with a measurement attached",
    "description": "Byte-compatible with registry.modelcontextprotocol.io. Each entry keeps its shape and gains one namespaced block, `sh.tashan/measurement`, so nothing you already parse changes. Unscored servers are absent rather than zero.",
    "responses": {
     "200": {
      "description": "Registry-shaped records",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/v0.1/kit": {
   "post": {
    "operationId": "kitForTask",
    "summary": "Name a job, get something that runs",
    "description": "Free: the ranked shortlist for that job, plus everything we excluded and why — an exclusion is a risk, and risks are never behind a paywall.\n\n$0.05 with `kit: true`: assembled. Every pick pinned to the version the advisory scan cleared, and a ready-to-paste config for your host. An unpinned config is an unverified one; the verification is the product.",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "task"
        ],
        "properties": {
         "task": {
          "type": "string",
          "example": "web-scraping"
         },
         "client": {
          "type": "string",
          "enum": [
           "claude-code",
           "claude",
           "cursor",
           "desktop",
           "codex",
           "npx"
          ]
         },
         "limit": {
          "type": "integer",
          "default": 5,
          "maximum": 10
         },
         "kit": {
          "type": "boolean",
          "default": false,
          "description": "Assemble it. Paid: $0.05 per call."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The shortlist, or the assembled kit when paid"
     },
     "402": {
      "description": "Payment required ($0.05). The body carries the price, a checkout link, and the free endpoints that answer the same question."
     }
    }
   }
  },
  "/data/demand.json": {
   "get": {
    "operationId": "paidDemand",
    "summary": "Which AI services have actually been paid",
    "description": "Settled x402 receipts on Base, read from a subgraph on The Graph Network and joined to the capabilities we measure. Free.\n\nEvery other signal in this space is a proxy — downloads count machines running an install, stars count people who liked a link. A settled payment is not a proxy. The public directory that lists these services publishes no evidence about whether any of them has ever been paid; these figures are that evidence.\n\n`economy` carries the distribution, never the total alone: a sum is the one statistic a concentrated economy always passes. `records` carries one row per payment address, and an address shared by several services is counted in the totals and never attributed to a single project.\n\nPayment is deliberately not an input to any score. Unpaid is the normal case for an MCP server and is never a defect.",
    "responses": {
     "200": {
      "description": "The market, and the rows behind it",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "economy": {
           "type": "object",
           "properties": {
            "paid_usd": {
             "type": "number"
            },
            "calls": {
             "type": "integer"
            },
            "receivers_paid": {
             "type": "integer"
            },
            "receivers_never_paid": {
             "type": "integer"
            },
            "median_usd": {
             "type": "number"
            },
            "top1_share": {
             "type": "number"
            }
           }
          },
          "records": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "address": {
              "type": "string"
             },
             "hosts": {
              "type": "array",
              "items": {
               "type": "string"
              }
             },
             "capabilities": {
              "type": "array",
              "items": {
               "type": "string"
              }
             },
             "shared": {
              "type": "boolean",
              "description": "True when several services publish this address. Never attributed to one project."
             },
             "paid_usd": {
              "type": "number"
             },
             "calls": {
              "type": "integer"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/v0.1/audit": {
   "post": {
    "operationId": "auditConfig",
    "summary": "Hand over a config, get back what is rotting",
    "description": "Free: every risk we hold about every capability you name — advisories at the version you would install today, deprecation, archived repos, one maintainer left.\n\n$0.01 with `history: true`: the score series behind each row and its direction of travel. Direction is the one thing a static index cannot tell you.",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "servers"
        ],
        "properties": {
         "servers": {
          "type": "array",
          "items": {
           "type": "string"
          },
          "example": [
           "tavily-mcp",
           "firecrawl-mcp"
          ]
         },
         "history": {
          "type": "boolean",
          "default": false,
          "description": "Add the series. Paid: $0.01 per call."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Findings per named capability"
     },
     "402": {
      "description": "Payment required ($0.01), terms in the body."
     }
    }
   }
  }
 },
 "externalDocs": {
  "description": "How every number is derived",
  "url": "https://tashan.sh/methodology.html"
 }
}